# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment
.env
.env.*

# IDE
.vscode/
.idea/

# Build
dist/
build/

# Node
node_modules/

.env/

# Angular
.angular/

backend\package-lock.json
frontend\frontend\package-lock.json

#contact
backend\src\contact\*
frontend\frontend\src\app\features\contact\*

#uplaods
backend\uploads\*