@use '../../styles/consultation.shared';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:host {
  font-family: 'Poppins', sans-serif;
  display: block;
}
