.gradient-text {
  background: linear-gradient(45deg, #0d6efd, #20c997);

  background-clip: text;              /* standard */
  -webkit-background-clip: text;      /* Chrome / Safari */

  color: transparent;
  -webkit-text-fill-color: transparent;
}

table {
  border-radius: 12px;
  overflow: hidden;
}
